openapi: 3.2.0
info:
  title: Branch Img1 API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 6 operation(s) read from 5 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Branch has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 9
    documentation: -3
    pages-with-code: 5
    pages-read: 5
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.branch.io/apidocs/app-api.md
  - https://help.branch.io/apidocs/query-api.md
  - https://help.branch.io/apidocs/cohort-api.md
  - https://help.branch.io/apidocs/events-api.md
  - https://help.branch.io/apidocs/qr-code-api.md
servers:
- url: https://api2.branch.io
tags:
- name: Img1
paths:
  /img1.jpg:
    post:
      operationId: post_img1_jpg
      tags:
      - Img1
      summary: POST /img1.jpg
      x-source: https://help.branch.io/apidocs/events-api.md
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl\ncurl -vvv -d '{\n                    \"name\": \"PURCHASE\",\n                    \"customer_event_alias\": \"my custom alias\",\n                    \"user_data\": {\n                    \"advertising_ids\": {\n                    \"oaid\": \"00aa00a0-0000-0a00-a000-aaa0000a0aaa\"\n                    },\n                    \"os\": \"Android\",\n                    \"os_version\": 25,\n                    \"anon_id\": \"fba"
