openapi: 3.2.0
info:
  title: Branch Query API
  version: '2026-10-03'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-03: 6 operation(s) read from 5 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Branch has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 9
    documentation: -3
    pages-with-code: 5
    pages-read: 5
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-03'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://help.branch.io/apidocs/app-api.md
  - https://help.branch.io/apidocs/query-api.md
  - https://help.branch.io/apidocs/cohort-api.md
  - https://help.branch.io/apidocs/events-api.md
  - https://help.branch.io/apidocs/qr-code-api.md
servers:
- url: https://api2.branch.io
tags:
- name: Query
paths:
  /v1/query/analytics:
    post:
      operationId: post_v1_query_analytics
      tags:
      - Query
      summary: POST /v1/query/analytics
      x-source: https://help.branch.io/apidocs/query-api.md
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '201':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl\ncurl -X POST -H \"Content-Type: application/json\" -d '{\n                    \"branch_key\":\"<YOUR_BRANCH_KEY>\",\n                    \"branch_secret\":\"<YOUR_BRANCH_SECRET>\",\n                    \"start_date\": \"2022-03-01\",\n                    \"end_date\": \"2022-03-07\",\n                    \"data_source\": \"eo_install\",\n                    \"dimensions\": [\n                    \"attributed\"\n              "
